body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000000;
}
body *{
  box-sizing: border-box;
}
.preloader-overflow{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-content: center;
  align-items: center;
  color: #fff;
  background: #000;
  font-size: 10px;
  z-index: 99;
}
.preloader-wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}
.preloader-icon{
  animation-duration: 2s;
  animation-name: preloading;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #5a5a5a;
  box-shadow: 0 0 35px #212121, inset 0 0 35px #151515;
}
.hide-animation{
  animation-duration: 3s;
  animation-name: fade;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.show-animation{
  animation-duration: 2s;
  animation-name: fade;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-direction: alternate;
}
.visibility-hidden{
  visibility: hidden;
}
@keyframes fade {
  0%{
    opacity: 1;
    z-index: 10;
  }
  85%{
    opacity: 0.85;
  }
  100%{
    opacity: 0;
    z-index: -10;
  }
}
@keyframes preloading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(720deg);
  }
}